<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
	<head>
		<title>Bored No More</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>		
		<div class="container">
			<div class="row">
				<h1>Add Activity</h1>
			</div>
			<form th:action="@{/addactivity}" th:object="${activity}" method="post">			
				<div class=" form-group row">
					<label class="col-sm-4 col-form-label" for="name">Activity Name:</label>
					<div class=col-sm-4>
						<input type="text" id="name" class="form-control" th:field="*{Activity}" placeholder="Activity Name..."/>	
					</div>
				</div>
				<div class="form-group row">
<!-- 					<p>Activity Type: <input type="text" th:field="*{type}" placeholder="Activity Type..."></p>			 -->
					<label class="col-sm-4 col-form-label" for="type">Activity Type:</label>
					<div class="col-sm-4">
						<input type="text" id="type" class="form-control" th:field="*{Type}" placeholder="Activity Type..."/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="participants"><span title="How many people will be participating?">Activity Participants: </span></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="participants" th:field="*{participants}" placeholder="Activity Participants...">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="price">Activity Price: $</label>
					<div class="col-sm-4">
						<input type="text" id="price" class="form-control" th:field="*{price}" placeholder="Activity Price...">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="accessibility"><span title="How easy an activity is to complete">Activity Accessibility:</span> </label>
					<div class="col-sm-4">
						<input type="text" id="accessibility" class="form-control" th:field="*{accessibility}" placeholder="Activity Accessibility...">
					</div>
				</div>
				<div class="row">
					<p><input  class="btn btn-secondary" type="submit" value="Submit" /> <button class="btn btn-secondary" type="reset" onclick="location.reload(true)">Reset</button></p>
				</div>
			</form>
		</div>
		
	</body>
</html>