<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
	<head>
		<title>Bored No More</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<br/>
		<h1>TODO list</h1>
		<br/>
		<button class="btn btn-primary" onclick="location.href='/bored/random'">Get Random Activity</button>
		<button class="btn btn-success" onclick="location.href='/addactivity'">Add Custom Activity</button>
		<table class="table table-responsive table-bordered" border="1">
		<thead>
			<tr class="bg-primary">
				<th>Activity</th>
				<th>Type</th>
				<th>Participants</th>
				<th>Price</th>
				<th>Accessibility</th>
				<th>Finished</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="todo : ${todoList}">
			<td th:text=${todo.activity}></td>
			<td th:text=${todo.type}></td>
			<td th:text=${todo.participants}></td>
			<td th:text=${todo.price}></td>
			<td th:text=${todo.accessibility}></td>
			<td><a th:if="${!todo.isFinished}" class="btn btn-primary" th:href="@{/finished(activity=${todo.activityID})}">Mark Finished</a>
			<label th:if="${todo.isFinished}">Finished!</label>
			</td>
			<td><a th:href="@{/updateActivity(activityId=${todo.activityID})}"
			class="btn btn-light btn-sm">Update</a>
			<a th:href="@{/delete(activity=${todo.activityID})}"
			 class="btn btn-danger btn-sm" onclick="if(!(confirm('Please confirm that you want to remove this activity')))return false;">Delete</a>
			</td>
		</tr>
		
		</tbody>
	</table>
	</body>
</html>